= form_for @post do |f|
  -if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li=msg

  .threecol
    .sidebar
      .inner-sidebar
        .filter-selector.new-post
          %fieldset
            %label= f.label :category, "Property Type"
            = select "post", "category_id", categories
          %fieldset
            %label= f.label :ad_type, "Advertise As"
            = select "post", "ad_type_id", ad_types
          %fieldset
            %label= f.label :price
            = f.text_field :price
          %fieldset
            %label= f.label :location
            = f.text_area :location, :rows => 10, :cols => 20
          %fieldset
            %h3 Additional Information
          %fieldset
            %label= f.label :bedrooms
            = f.text_field :bedrooms
          %fieldset
            %label= f.label :baths
            = f.text_field :baths
          %fieldset
            %label= f.label :floors
            = f.text_field :floors
          %fieldset
            %label= f.label :lot_area
            = f.text_field :lot_area

  .sixcol.last
    .filter-selector
      %fieldset.post-heading
        %h1
          %span#title_category
          %span#title_ad_type
          %span#title_location
          %span
            %a{ :href => "#" } edit
      %fieldset
        %label= f.label :description
        = f.text_area :description, :class => "description"
      %fieldset
        .submit-actions.center  
          .actions
            = f.submit 'Save', :class => "btn submit"

  .threecol
    .filter-selector
      %fieldset
        .upload-container
          %p.upload-info Drag files to upload here
          %p or
          %input{ :type => "button", :value => "Select files", :class => "btn upload" } 
