%h1 Listing posts

%table
  %tr
    %th Property type
    %th Advertised as
    %th Price
    %th Location
    %th Description
    %th
    %th
    %th

  - @posts.each do |post|
    %tr
      %td= post.property_type
      %td= post.advertised_as
      %td= post.price
      %td= post.location
      %td= post.description
      %td= link_to 'Show', post
      %td= link_to 'Edit', edit_post_path(post)
      %td= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Post', new_post_path
