%p#notice= notice

%p
  %b Property type:
  = @post.property_type
%p
  %b Advertised as:
  = @post.advertised_as
%p
  %b Price:
  = @post.price
%p
  %b Location:
  = @post.location
%p
  %b Description:
  = @post.description

= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', posts_path
