!!!
%html
  %head
    %title #{@page_title ||= "Realty.ph - The best realty finds in the Philippines"} 
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .container
      .row
        = yield
